body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
form {
    max-width: 600px;
    margin: auto;
}
.form-group {
    margin-bottom: 15px;
    margin: auto;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input, .form-group select{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
.form-group input[type="radio"], .form-group input[type="checkbox"] {
    width: auto;
}
.form-group .radio-group {
    display: flex;
    gap: 10px;
}
.form-group .hidden {
    display: none;
}
.error {
    color: red;
    margin-top: 5px;
}